%h1 3dmindの使い方

%h2 はじめる
.help-content
  .row
    .col-md-7
      %p ノートを作るところから始めます。
      %p ノートを作成すると、図のようにテーマが中央に配置された画面が表示されます。
  .row
    .col-md-7
      .image-panel
        = image_tag 'help/new.png', :width => "500"
%h2 キーワードを追加する
.help-content
  .row
    .col-md-7
      %p 画面左上にある入力フォームにテーマに関連して思いつくキーワードをドンドン入力します。
      %p 入力したキーワードは、テーマの周辺にランダムに配置されます。
  .row
    .col-md-7
      .image-panel
        = image_tag 'help/input_words.png', :width => "500"
%h2 ドラッグによる移動
.help-content
  .row
    .col-md-7
      %p ランダムに配置されたキーワードを関連するもの、近しい関係にあるものなど、直感に添って移動させます。
  .row
    .col-md-7
      .image-panel
        = image_tag 'help/drag.png', :width => "500"
%h2 キーワードの削除
.help-content
  .row
    .col-md-7
      %p 不必要なキーワードは、画面外にドラッグすることで削除できます。
  .row
    .col-md-7
      .image-panel
        = image_tag 'help/delete.png', :width => "500"
%h2 ドリルダウン
.help-content
  .row
    .col-md-7
      %p キーワードをダブルクリックすることで、そのキーワードをテーマとしたページにドリルダウンできます。特定のキーワードに対して、一段掘り下げた考察を行うことができます。
  .row
    .col-md-7
      .image-panel
        = image_tag 'help/down.png', :width => "500"
%h2 ドリルアップ
.help-content
  .row
    .col-md-7
      %p テーマをダブルクリック、もしくは画面左上にあるパンくずリストをクリックすることで、階層を遡る事ができます。
  .row
    .col-md-7
      .image-panel
        = image_tag 'help/up.png', :width => "500"
%h2 保存
.help-content
  .row
    .col-md-7
      %p 最後に、右上の保存ボタンを押してセーブしましょう。
      %p セーブしていなデータは、消えてしまいますので注意してください。
  .row
    .col-md-7
      .image-panel
        = image_tag 'help/save.png', :width => "500"
%h2 公開
.help-content
  .row
    .col-md-7
      %p 右上の公開するボタンを押すと、公開用URLが表示されます。このURLを通じて、ノートを公開することができます。
      %p 公開用URLで閲覧している人は、変更・保存はできません。
  .row
    .col-md-7
      .image-panel
        = image_tag 'help/save.png', :width => "500"
