<%= form_for(@note) do |f| %>
<%= hidden_field_tag 'back_to', back_to %>
<%= f.hidden_field :lock_version %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-8">
<div class="form-group">
  <%= f.label :note_title, "Note title (Theme of your thinking.)"  %>
  <%= f.text_field :note_title, {:class => "form-control"} %>
</div>
  <%= f.submit :class => "btn btn-primary btn-md" %>
  <%= link_or_back 'Back', notes_path, :class => "btn btn-default btn-md" %>
  </div>
<% end %>
