<div class="row">
<div class="col-md-6 col-md-offset-3">
<%=content_tag :h2, t("view.auth.edit_account_settings") %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group"><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, class: "form-control" %></div>

  <div class="form-group"><%= f.label :nickname %><br />
  <%= f.text_field :nickname, class: "form-control" %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="form-group">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group"><%= f.label :password %> <i>(<%=t "view.auth.leave_blank_if" %>)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>

  <div class="form-group"><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></div>

  <div class="form-group"><%= f.label :current_password %> <i>(<%=t "view.auth.we_need_your" %>)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %></div>

  <div><%= f.submit t("view.update") %></div>
<% end %>

<hr/>

<%=content_tag :h3, t("view.auth.cancel_my_account") %>

<p><%=t("view.auth.unhappy?")%> <%= button_to t("view.auth.cancel_my_account"), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

</div>
</div>

