<%= form_for(@name) do |f| %>
<%= hidden_field_tag 'back_to', back_to %>
<%= f.hidden_field :lock_version %>
  <% if @name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@name.errors.count, "error") %> prohibited this name from being saved:</h2>

      <ul>
      <% @name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="form_table">
  <tr>
    <th><%= f.label :name_locale, getLongName('names', 'name_locale') %></th>
    <td><%= f.text_field :name_locale %></td>
  </tr>
  <tr>
    <th><%= f.label :name_section, getLongName('names', 'name_section') %></th>
    <td><%= f.text_field :name_section %></td>
  </tr>
  <tr>
    <th><%= f.label :name_key, getLongName('names', 'name_key') %></th>
    <td><%= f.text_field :name_key %></td>
  </tr>
  <tr>
    <th><%= f.label :long_name, getLongName('names', 'long_name') %></th>
    <td><%= f.text_field :long_name %></td>
  </tr>
  <tr>
    <th><%= f.label :short_name, getLongName('names', 'short_name') %></th>
    <td><%= f.text_field :short_name %></td>
  </tr>
  <tr>
    <th><%= f.label :other_name, getLongName('names', 'other_name') %></th>
    <td><%= f.text_field :other_name %></td>
  </tr>
  <tr>
    <th><%= f.label :name_description, getLongName('names', 'name_description') %></th>
    <td><%= f.text_field :name_description %></td>
  </tr>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
