<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3dmind - new mind map tool - </title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid" style="<%#= get_background_color %>">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <% if popup? %>
        <span class="navbar-brand"><%=image_tag('logo.png', :size => "75x20") %></span>
      <% else %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#global-manu-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%=link_to image_tag('logo.png', :size => "75x20"), root_path, :class => "navbar-brand" %>
      <% end %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="global-manu-navbar-collapse">
      <% if logged_in? && !popup? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <%= "#{current_user && current_user.nickname} <#{current_user.login}>" %></a>
          <ul class="dropdown-menu">
            <li><%= link_to t("view.auth.settings"), edit_auth_registration_path %></li>
            <li><%= link_to t("view.auth.sign_out"), destroy_auth_session_path, :method => :delete %></li>
          </ul>
          </li>
        </ul>    
      <% end %><%# logged_in? %>
    </div>
  </div>
</nav>
<!--topmenuここまで-->
<!--headerここまで-->
<% [[:notice, "success"], [:err, "danger"], [:warning, "warning"], [:alert, "warning"]].each do |x| a,b = x %>
  <% if flash[a] %>
    <div class="alert alert-<%=b%> alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= flash[a] %>
    </div>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
